@import "tailwindcss";

body {
  font-family: var(--font-inter), system-ui, sans-serif;
}

/* Headings / Navbar / Buttons */
.font-heading {
  font-family: var(--font-poppins), system-ui, sans-serif;
}

/* Shared input style */
.input {
  @apply h-12 w-full rounded-lg bg-gray-200 px-4 text-sm text-gray-700
         placeholder-gray-500 outline-none
         focus:bg-white focus:ring-2 focus:ring-blue-500;
}
